.l-benefit {
	padding-top: 160px;
	padding-bottom: 120px;
	&__title {
		text-align: center;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 80px;
	}
	&__coll {
		width: calc(33.333% - 32px);
		padding: 50px 30px 50px;
		background: #e4eef3;
		border-radius: 16px;
		overflow: hidden;
		&-box {
			margin-top: 28px;
			transform: translateY(130px);
			transition: transform 0.3s;
		}
		&-caption {
			font-size: 20px;
			line-height: 28px;
			color: #181b26;
		}
		&-desc {
			font-size: 19px;
			line-height: 28px;
			letter-spacing: 0.0164em;
			color: #737587;
			margin-top: 20px;
			opacity: 0;
			transition: opacity 0.3s;
		}
		&:hover {
			.l-benefit {
				&__coll {
					&-box {
						transform: translateY(0px);
						transition: transform 0.3s;
					}
					&-desc {
						opacity: 1;
						transition: opacity 0.3s;
					}
				}
			}
		}
		&--2 {
			background: linear-gradient(83.69deg, #e4eef3 0%, #e0f0ea 97.73%);
		}
		&--3 {
			background: #e4eef3;
		}
	}
	&__wrap {
		position: relative;
		margin-top: 80px;
		.l-benefit__title {
			text-align: left;
			max-width: 315px;
		}
	}
	&__box {
		width: 410px;
	}
	&__desc {
		margin: 32px 0px;
		p {
			font-size: 19px;
			line-height: 28px;
			letter-spacing: 0.0164em;
			color: #737587;
		}
		p + p {
			margin-top: 28px;
		}
	}
	&__btn {
		width: 280px;
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__img {
		position: absolute;
		width: 960.05px;
		height: 507.22px;
		top: 0px;
		right: -90px;
	}
}
@media (max-width: 1400px) {
	.l-benefit {
		padding-top: 120px;
		padding-bottom: 100px;
	}
}
@media (max-width: 1320px) {
	.l-benefit {
		padding-top: 100px;
		padding-bottom: 100px;
		&__coll {
			width: calc(33.333% - 15px);
			padding: 25px 20px;
			&-box {
				transform: translateY(110px);
			}
			&-desc {
				font-size: 18px;
				line-height: 24px;
				margin-top: 14px;
			}
		}
		&__box {
			width: 400px;
		}
		&__desc {
			margin: 28px 0px;
			p {
				font-size: 18px;
				line-height: 24px;
			}
			p + p {
				margin-top: 24px;
			}
		}
		&__img {
			width: 800px;
			height: auto;
			top: 20px;
			right: -30px;
		}
	}
}
@media (max-width: 1190px) {
	.l-benefit {
		padding-top: 40px;
		padding-bottom: 80px;
		&__row {
			margin-top: 40px;
		}
		&__coll {
			&-caption {
				font-size: 18px;
				line-height: 24px;
			}
			&-desc {
				font-size: 16px;
				line-height: 24px;
			}
		}
		&__wrap {
			margin-top: 50px;
		}
		&__box {
			width: 350px;
		}
		&__desc {
			margin: 24px 0px;
			p {
				font-size: 16px;
				line-height: 24px;
			}
			p + p {
				margin-top: 18px;
			}
		}
		&__btn {
			width: 250px;
			height: 60px;
			font-size: 16px;
			line-height: 16px;
		}
		&__img {
			width: 70%;
		}
	}
}
@media (max-width: 1010px) {
	.l-benefit {
		padding-top: 0px;
		&__row {
			justify-content: center;
			margin: 28px -12px -12px;
		}
		&__coll {
			width: calc(50% - 24px);
			padding: 25px 25px;
			margin: 12px;
			&-box {
				transform: translateY(0px);
			}
			&-desc {
				opacity: 1;
			}
		}
		&__wrap {
			.l-benefit__title {
				max-width: 100%;
			}
		}
		&__box {
			width: 100%;
		}
		&__desc {
			margin: 20px 0px;
			p + p {
				margin-top: 10px;
			}
		}
		&__img {
			position: relative;
			width: 100%;
			height: auto;
			top: 0px;
			right: 0px;
			margin-top: 30px;
		}
	}
}
@media (max-width: 760px) {
	.l-benefit {
		padding-bottom: 60px;
		&__row {
			margin: 16px -8px -8px;
		}
		&__coll {
			width: 100%;
			padding: 20px 15px;
			margin: 8px;
		}
		&__btn {
			width: 100%;
			height: 50px;
		}
		&__img {
			width: 114%;
			right: 8%;
		}
	}
}
