.l-faq {
	padding-top: 144px;
	padding-bottom: 140px;
	&__title {
		max-width: 740px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 80px;
		margin-bottom: -64px;
	}
	&__coll {
		width: calc(50% - 24px);
		display: flex;
		align-items: flex-start;
		padding: 30px;
		background-color: #f0f3f5;
		border-radius: 16px;
		margin-bottom: 64px;
	}
	&__icon {
		width: 68px;
		height: 68px;
		margin-right: 25px;
		svg {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__box {
		width: calc(100% - 93px);
	}
	&__caption {
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: #181b26;
		margin-bottom: 26px;
	}
	&__desc {
		max-width: 450px;
		font-size: 19px;
		line-height: 28px;
		letter-spacing: 0.0164em;
		color: #4c4d55;
	}
}
@media (max-width: 1400px) {
	.l-faq {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
@media (max-width: 1320px) {
	.l-faq {
		padding-top: 60px;
		padding-bottom: 60px;
		&__row {
			margin-top: 40px;
			margin-bottom: -24px;
		}
		&__coll {
			width: calc(50% - 12px);
			padding: 20px;
			border-radius: 12px;
			margin-bottom: 24px;
		}
		&__icon {
			width: 60px;
			height: 60px;
			margin-right: 20px;
		}
		&__box {
			width: calc(100% - 80px);
		}
		&__caption {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 15px;
		}
		&__desc {
			max-width: 400px;
			font-size: 17px;
			line-height: 24px;
		}
	}
}
@media (max-width: 1190px) {
	.l-faq {
		padding-top: 40px;
		padding-bottom: 40px;
		&__title {
			max-width: 650px;
		}
		&__icon {
			width: 48px;
			height: 48px;
			margin-right: 15px;
		}
		&__box {
			width: calc(100% - 63px);
		}
		&__desc {
			max-width: 350px;
			font-size: 16px;
			line-height: 22px;
		}
	}
}
@media (max-width: 1010px) {
	.l-faq {
		&__title {
			max-width: 600px;
		}
		&__row {
			margin-top: 24px;
		}
		&__coll {
			width: 100%;
			margin-bottom: 20px;
		}
		&__desc {
			max-width: 100%;
		}
	}
}
@media (max-width: 760px) {
	.l-faq {
		padding-top: 30px;
		padding-bottom: 30px;
		&__coll {
			padding: 20px 15px;
		}
		&__icon {
			width: 40px;
			height: 40px;
			margin-right: 10px;
		}
		&__box {
			width: calc(100% - 50px);
		}
		&__caption {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 10px;
			br {
				display: none;
			}
		}
		&__desc {
			font-size: 15px;
			line-height: 22px;
		}
	}
}
