.l-payback {
	padding-top: 160px;
	padding-bottom: 92px;
	&__wrap {
		display: flex;
		justify-content: space-between;
	}
	&__box {
		max-width: 720px;
	}
	&__title {
		span {
			color: #4946b6;
		}
	}
	&__desc {
		max-width: 540px;
		margin-top: 34px;
		p {
			font-size: 19px;
			line-height: 28px;
			letter-spacing: 0.0164em;
			color: #737587;
		}
		p + p {
			margin-top: 28px;
		}
	}
	&__img {
		width: 670px;
		margin-right: -70px;
		margin-top: -30px;
	}
}
@media (max-width: 1400px) {
	.l-payback {
		padding-top: 120px;
		padding-bottom: 90px;
	}
}
@media (max-width: 1320px) {
	.l-payback {
		padding-top: 60px;
		&__box {
			max-width: 48%;
		}
		&__title {
			br {
				display: none;
			}
		}
		&__desc {
			margin-top: 25px;
			p {
				font-size: 18px;
				line-height: 25px;
			}
			p + p {
				margin-top: 24px;
			}
		}
		&__img {
			width: 58%;
		}
	}
}
@media (max-width: 1190px) {
	.l-payback {
		padding-top: 80px;
		padding-bottom: 80px;
		&__box {
			max-width: 48%;
		}
		&__title {
			br {
				display: none;
			}
		}
		&__desc {
			margin-top: 25px;
			p {
				font-size: 17px;
				line-height: 24px;
			}
			p + p {
				margin-top: 20px;
			}
		}
		&__img {
			width: 58%;
		}
	}
}
@media (max-width: 1010px) {
	.l-payback {
		&__wrap {
			flex-wrap: wrap;
		}
		&__box {
			max-width: 100%;
		}
		&__desc {
			margin-top: 15px;
			max-width: 100%;
			p {
				font-size: 16px;
				line-height: 22px;
			}
			p + p {
				margin-top: 15px;
			}
		}
		&__img {
			width: 100%;
			max-width: 420px;
			margin: 20px auto 0px;
		}
	}
}
@media (max-width: 760px) {
	.l-payback {
		padding-top: 60px;
		padding-bottom: 60px;
		&__desc {
			p {
				font-size: 15px;
				line-height: 21px;
			}
			p + p {
				margin-top: 12px;
			}
		}
	}
}
