.main-work {
	padding-top: 160px;
	padding-bottom: 120px;
	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 80px;
		margin-bottom: -48px;
	}
	&__coll {
		width: calc(50% - 24px);
		height: 675px;
		background-color: #d5e4ec;
		border-radius: 16px;
		justify-content: center;
		position: relative;
		margin-bottom: 48px;
		&--1 {
			&:hover {
				.main-work {
					&__img {
						&--2 {
							transform: translateY(-10px);
							transition: all 0.5s ease;
						}
						&--3 {
							transform: translateY(-20px);
							transition: all 0.5s ease;
						}
					}
				}
			}
		}
		&--2 {
			background-color: #e0f0ea;
		}
		&--3 {
			background-color: #e8e4f1;
		}
		&--4 {
			background-color: #f4eae1;
		}
	}
	&__images {
		position: relative;
		width: 340px;
		height: 340px;
		top: -7px;
	}
	&__img {
		position: relative;
		transition: all 0.5s ease;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		&--1 {
			width: 100%;
			height: 100%;
			z-index: 10;
		}
		&--2 {
			position: absolute;
			width: 280px;
			height: 280px;
			top: -30px;
			left: 30px;
			z-index: 8;
		}
		&--3 {
			position: absolute;
			width: 220px;
			height: 220px;
			top: -60px;
			left: 60px;
			z-index: 6;
		}
	}
	&__examination {
		position: relative;
		&-field {
			width: 322px;
			height: 72px;
			background-color: #ffffff;
			box-shadow: 0px 24px 48px rgba(16, 60, 43, 0.06);
			border-radius: 999px;
			font-size: 16px;
			line-height: 16px;
			letter-spacing: 0.0148em;
			color: #737587;
			display: flex;
			align-items: center;
			padding: 27px 23px;
		}
		&-icon {
			position: absolute;
			width: 59px;
			height: 59px;
			top: 6px;
			right: 6px;
			animation: 3s linear 0s normal none infinite running rot;
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
	&__number {
		position: absolute;
		top: 24px;
		left: 24px;
		width: 56px;
		height: 56px;
		background-color: #ffffff;
		border-radius: 50%;
		font-weight: 700;
		font-size: 20px;
		line-height: 28px;
		color: #181b26;
		z-index: 10;
		justify-content: center;
	}
	&__caption {
		position: absolute;
		width: 100%;
		padding: 30px;
		bottom: 0px;
		left: 0px;
		font-weight: 700;
		font-size: 20px;
		line-height: 28px;
		color: #181b26;
	}
}
@keyframes rot {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
@-webkit-keyframes rot {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
@media (max-width: 1400px) {
	.main-work {
		&__row {
			margin-bottom: -30px;
		}
		&__coll {
			width: calc(50% - 15px);
			margin-bottom: 30px;
		}
	}
}
@media (max-width: 1190px) {
	.main-work {
		padding-top: 100px;
		padding-bottom: 100px;
		&__row {
			margin-top: 36px;
			margin-bottom: -16px;
		}
		&__coll {
			width: calc(50% - 8px);
			height: 540px;
			margin-bottom: 16px;
			border-radius: 12px;
			padding: 30px;
		}
		&__number {
			top: 15px;
			left: 15px;
			width: 50px;
			height: 50px;
			font-size: 18px;
			line-height: 24px;
		}
		&__caption {
			padding: 25px 20px;
			font-size: 17px;
			line-height: 24px;
		}
		&__images {
			width: 300px;
			height: 300px;
			top: 0px;
		}
		&__img {
			&--2 {
				width: 240px;
				height: 240px;
				top: -20px;
				left: 30px;
			}
			&--3 {
				width: 185px;
				height: 185px;
				top: -40px;
				left: 60px;
			}
		}
	}
}
@media (max-width: 1010px) {
	.main-work {
		padding-top: 80px;
		padding-bottom: 80px;
		&__coll {
			height: 450px;
		}
		&__number {
			top: 10px;
			left: 10px;
			width: 40px;
			height: 40px;
			font-size: 16px;
			line-height: 22px;
		}
		&__caption {
			padding: 20px 15px;
			font-size: 16px;
			line-height: 21px;
			br {
				display: none;
			}
		}
		&__images {
			width: 260px;
			height: 260px;
		}
		&__img {
			&--2 {
				width: 220px;
				height: 220px;
				top: -15px;
				left: 20px;
			}
			&--3 {
				width: 180px;
				height: 180px;
				top: -30px;
				left: 40px;
			}
		}
		&__examination {
			&-field {
				width: 280px;
				height: 60px;
				font-size: 15px;
				line-height: 15px;
				padding: 25px 20px;
			}
			&-icon {
				width: 52px;
				height: 52px;
				top: 4px;
				right: 4px;
			}
		}
	}
}
@media (max-width: 760px) {
	.main-work {
		padding-top: 60px;
		padding-bottom: 60px;
		&__row {
			margin-top: 28px;
			margin-bottom: -30px;
		}
		&__coll {
			width: 100%;
			&--4 {
				.main-work {
					&__img {
						img {
							height: 290px;
						}
					}
				}
			}
		}
		&__number {
			width: 35px;
			height: 35px;
			font-size: 15px;
			line-height: 20px;
		}
		&__caption {
			padding: 15px 15px;
			font-size: 15px;
			line-height: 20px;
		}
	}
}
