.main-info {
	background-color: #181b26;
	padding-top: 140px;
	overflow: hidden;
	&__top {
		max-width: 720px;
		text-align: center;
		margin: 0px auto;
	}
	&__title {
		color: #fff;
		margin-bottom: 48px;
	}
	&__images {
		position: relative;
	}
	&__img {
		width: 795px;
		height: 389px;
		margin: 84px auto -9px;
		position: relative;
		left: -10px;
	}
	&__icon {
		position: absolute;
		&--1 {
			width: 180px;
			height: 180px;
			top: calc(50% - 115px);
			left: calc(50% - 560px);
		}
		&--2 {
			width: 221px;
			height: 221px;
			top: calc(50% - 230px);
			right: calc(50% - 460px);
		}
		&--3 {
			width: 198px;
			height: 198px;
			top: calc(50% - 55px);
			right: calc(50% - 710px);
		}
	}
}
@media (max-width: 1400px) {
}
@media (max-width: 1320px) {
	.main-info {
		&__icon {
			&--3 {
				right: calc(50% - 610px);
			}
		}
	}
}
@media (max-width: 1190px) {
	.main-info {
		padding-top: 100px;
		&__top {
			max-width: 600px;
		}
		&__title {
			margin-bottom: 32px;
		}
		&__img {
			width: 700px;
			height: auto;
			margin: 80px auto 0px;
			left: -10px;
		}
		&__icon {
			&--1 {
				width: 140px;
				height: 140px;
				top: calc(50% - 100px);
				left: calc(50% - 460px);
			}
			&--2 {
				width: 180px;
				height: 180px;
				top: calc(50% - 195px);
				right: calc(50% - 405px);
			}
			&--3 {
				width: 160px;
				height: 160px;
				top: calc(50% - 55px);
				right: calc(50% - 500px);
			}
		}
	}
}
@media (max-width: 1010px) {
	.main-info {
		padding-top: 80px;
		&__top {
			max-width: 520px;
		}
		&__title {
			margin-bottom: 24px;
		}
		&__img {
			width: 600px;
			margin-top: 50px;
		}
		&__icon {
			&--1 {
				width: 120px;
				height: 120px;
				top: calc(50% - 80px);
				left: calc(50% - 360px);
			}
			&--2 {
				width: 160px;
				height: 160px;
				top: calc(50% - 176px);
				right: calc(50% - 345px);
			}
			&--3 {
				width: 150px;
				height: 150px;
				top: calc(50% - 55px);
				right: calc(50% - 400px);
			}
		}
	}
}
@media (max-width: 760px) {
	.main-info {
		padding-top: 60px;
		&__img {
			width: auto;
			margin-top: 40px;
			max-width: 600px;
		}
		&__icon {
			&--1 {
				width: 80px;
				height: 80px;
				top: calc(50% - 45px);
				left: -7%;
			}
			&--2 {
				width: 105px;
				height: 105px;
				top: -10%;
				right: -8%;
			}
			&--3 {
				width: 120px;
				height: 120px;
				top: 30%;
				right: -10%;
			}
		}
	}
}
