.notifications {
	position: relative;
	&__icon {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		background-color: #f0f3f5;
		border-radius: 50%;
		cursor: pointer;
		transition: all 0.3s;
		span {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 26px;
			height: 26px;
			right: -12px;
			top: -6px;
			background: #f86624;
			border: 3px solid #ffffff;
			border-radius: 999px;
			font-size: 14px;
			line-height: 14px;
			letter-spacing: 0.0148em;
			color: #ffffff;
			transition: all 0.3s;
			&.hidden {
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s;
			}
		}
		svg {
			& * {
				transition: all 0.3s;
			}
		}
		&:hover {
			background-color: #181b26;
			transition: all 0.3s;
		}
		&.active {
			background-color: #181b26;
			transition: all 0.3s;
		}
	}
	&__body {
		position: absolute;
		top: calc(100% + 24px);
		right: 0px;
		padding: 20px 20px 10px;
		width: 387px;
		background-color: #181b26;
		box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.04);
		border-radius: 12px;
		transform: translateY(15px);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
		&.active {
			transform: translateY(0px);
			opacity: 1;
			visibility: visible;
			transition: all 0.3s;
		}
	}
	&__item {
		padding-bottom: 12px;
		& + & {
			padding-top: 16px;
			border-top: 1px solid rgba(103, 105, 124, 0.16);
		}
	}
	&__wrap {
		display: flex;
		justify-content: space-between;
	}
	&__box {
		width: calc(100% - 48px);
	}
	&__top {
		display: flex;
		align-items: center;
		font-size: 14px;
		line-height: 14px;
		letter-spacing: 0.0148em;
		color: #737587;
	}
	&__date {
		padding-left: 12px;
		margin-right: 8px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 5px;
			height: 5px;
			background: #f86624;
			border-radius: 50%;
			top: calc(50% - 2.5px);
			left: 0px;
		}
	}
	&__value {
		padding-left: 12px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 5px;
			height: 5px;
			background: #737587;
			border-radius: 50%;
			top: calc(50% - 2.5px);
			left: 0px;
		}
	}
	&__desc {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.0148em;
		color: #f0f3f5;
		margin-top: 4px;
	}
	&__basket {
		width: 24px;
		height: 24px;
		margin-top: 16px;
		cursor: pointer;
		transition: all 0.3s;
		svg {
			width: 100%;
			height: 100%;
			object-fit: contain;
			& * {
				transition: all 0.3s;
			}
		}
		&:hover {
			svg {
				& * {
					stroke: #fff;
					transition: all 0.3s;
				}
			}
		}
	}
	&__btn {
		width: 100%;
		margin-top: 16px;
		font-size: 14px;
		line-height: 14px;
		height: 40px;
		padding: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
@media (max-width: 1400px) {
}
@media (max-width: 1320px) {
}
@media (max-width: 1190px) {
}
@media (max-width: 1010px) {
	.notifications {
		&__icon {
			span {
				width: 22px;
				height: 22px;
				right: -8px;
				border: 2px solid #ffffff;
				font-size: 12px;
				line-height: 12px;
			}
		}
		&__body {
			right: auto;
			width: 350px;
			left: -57px;
		}
	}
}
@media (max-width: 760px) {
}
@media (max-width: 375px) {
	.notifications {
		&__body {
			width: calc(100vw - 30px);
		}
	}
}
