.info {
	position: absolute;
	bottom: 0;
	left: 0%;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 8px;
	padding: 0 20px 19px;
	opacity: 0;
	transition: 0.4s ease-in-out;
	&__title {
		position: relative;
		width: max-content;
		line-height: 24px;
		color: #ffffff;
		transition: 0.3s ease-in-out;
		/*&::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: currentColor;
            top: 100%;
            left: 0;
            pointer-events: none;
            transform-origin: 100% 50%;
            transform: scale3d(0, 1, 1);
            transition: transform 0.3s;
            transition: transform 0.3s;
        }
        &:hover::after {
            transform-origin: 0% 50%;
            transform: scale3d(1, 1, 1);
        }*/
		&:hover {
			opacity: 0.5;
			transition: 0.3s ease-in-out;
		}
	}
	&__level,
	&__category {
		font-size: 14px;
		line-height: 14px;
		color: #aeafb8;
		width: 50%;
	}
	&__level {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 4px;
		span:last-of-type {
			margin-right: 4px;
		}
		&--easy {
			span {
				width: 8px;
				height: 8px;
				background: #fff;
				border-radius: 50%;
				opacity: 0.3;
				&:nth-child(1) {
					opacity: 1;
				}
			}
		}
		&--medium {
			span {
				width: 8px;
				height: 8px;
				background: #fff;
				border-radius: 50%;
				opacity: 0.3;
				&:nth-child(1) {
					opacity: 1;
				}
				&:nth-child(2) {
					opacity: 1;
				}
			}
		}
		&--hard {
			span {
				width: 8px;
				height: 8px;
				background: #fff;
				border-radius: 50%;
				opacity: 0.3;
				&:nth-child(1) {
					opacity: 1;
				}
				&:nth-child(2) {
					opacity: 1;
				}
				&:nth-child(3) {
					opacity: 1;
				}
			}
		}
	}
}

@media screen and (max-width: 1010px) {
	.info {
		opacity: 1;
	}
}
