.tabs {
    display: flex;
    gap: 16px;
    margin: 62px 0px 43px;
    overflow-y: scroll;
    padding-bottom: 5px;
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0 grey;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #73758741;
        border-radius: 10px;
        opacity: 0.3;
    }
    &__btn {
        padding: 11.6px 16px 12.5px 17px;
        background: #f0f3f5;
        color: #181b26;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.0148em;
        border-radius: 8px;
        display: flex;
        gap: 24px;
        height: 40px;
        flex-shrink: 0;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &--active {
            background: #181b26 !important;
            color: #fff;
            &:hover {
                background: #181b26 !important;
                color: #fff !important;
            }
        }
        &:hover {
            background: #dfe2e4;
        }
    }
}
@media screen and (max-width: 1190px) {
    .tabs {
        margin: 48px 0;
    }
}
@media screen and (max-width: 1010px) {
    .tabs {
        margin: 32px 0;
    }
}
