@font-face {
	font-family: "Arial";
	src: url("../fonts/Arial/Arial/Arial.eot");
	src: url("../fonts/Arial/Arial/Arial.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Arial/Arial/Arial.woff") format("woff"), url("../fonts/Arial/Arial/Arial.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Arial";
	src: url("../fonts/Arial/Arial Bold/Arial Bold.eot");
	src: url("../fonts/Arial/Arial Bold/Arial Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Arial/Arial Bold/Arial Bold.woff") format("woff"),
		url("../fonts/Arial/Arial Bold/Arial Bold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Arial";
	src: url("../fonts/Arial/Arial Black/Arial Black.eot");
	src: url("../fonts/Arial/Arial Black/Arial Black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Arial/Arial Black/Arial Black.woff") format("woff"),
		url("../fonts/Arial/Arial Black/Arial Black.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Anonymous Pro";
	src: url("../fonts/Anonymous Pro/Anonymous Pro/Anonymous Pro.eot");
	src: url("../fonts/Anonymous Pro/Anonymous Pro/Anonymous Pro.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Anonymous Pro/Anonymous Pro/Anonymous Pro.woff") format("woff"),
		url("../fonts/Anonymous Pro/Anonymous Pro/Anonymous Pro.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Anonymous Pro";
	src: url("../fonts/Anonymous Pro/Anonymous Pro Bold/Anonymous Pro Bold.eot");
	src: url("../fonts/Anonymous Pro/Anonymous Pro Bold/Anonymous Pro Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Anonymous Pro/Anonymous Pro Bold/Anonymous Pro Bold.woff") format("woff"),
		url("../fonts/Anonymous Pro/Anonymous Pro Bold/Anonymous Pro Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
